# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.synctex(busy)
*.dvi
*.xdv
*.ps
*.bbl
*.blg
*.toc
*.lof
*.lot
*.out
*.nav
*.snm
*.vrb

# latexmk temp dirs (created by the server)
/tmp/latexmk-mcp-*/

# Bun/Node
.npmrc
bun.lockb
.bun-cache/
dist/
logs
*.log
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
build/Release
node_modules/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
*.tgz
.cache/
.temp
.cache
.vscode-test
